html {
    font-family: sans-serif;
  }

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

@keyframes vibrate {
  0% { transform: translateX(0) }
  25% { transform: translateX(3px) }
  50% { transform: translateX(-3px) }
  75% { transform: translateX(3px) }
  100% { transform: translateX(0) }
 }
 

button {
  margin: 50px;
  font-size: 20px;
  background-color: blue;
  animation: vibrate 0.25s infinite;

}

button:hover {
  background-color: black;
  animation-play-state: paused;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
}

a:after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 0;
  height: 1.5px;
  background: red;
  transition: .3s;
  left: 50%;
  transform: translate(-50%);
}

a:hover{
  color: red
}

a:hover:after {
  width: 100%;
}


/* 
a:hover {
  color: green;

}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: green;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
} */

.ball {
  position: absolute; 
  left: 36%;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 100%;
  animation: bounce 10s linear forwards;
}

@keyframes bounce {
  0% { bottom: 80%;}
  4% { bottom: 56%;}
  10% { bottom: 19%; }
  13% { bottom: 1%; }
  14% { bottom: 0%; width: 55px; height:45px;}
  15% { bottom: 0%; width: 65px; height:38px;}
  16% { bottom: 0%; width: 55px; height:45px;}
  17% { bottom: 1%; width: 50px; height:50px;}
  24% { bottom: 21%; }
  28% { bottom: 30%; }
  30% { bottom: 33%; }
  31% { bottom: 35%; }
  33% { bottom: 38%; }
  35% { bottom: 40%; }
  37% { bottom: 38%; }
  39% { bottom: 33%; }
  41% { bottom: 28%; }
  43% { bottom: 22%; }
  45% { bottom: 14%; }
  47% { bottom: 4%; }
  49% { bottom: 0%; width: 53px; height:47px;}
  50% { bottom: 0%; width: 60px; height:45px;}
  51% { bottom: 0%; width: 53px; height:47px;}
  52% { bottom: 1%; width: 50px; height:50px;}
  55% { bottom: 13%; }
  56% { bottom: 16%; }
  57% { bottom: 18%; }
  58% { bottom: 19%; }
  60% { bottom: 20%; }
  62% { bottom: 19%; }
  63% { bottom: 18%; }
  64% { bottom: 16%; }
  65% { bottom: 15%; }
  66% { bottom: 11%; }
  67% { bottom: 8%; }
  68% { bottom: 4%; }
  69% { bottom: 0%; width: 52px; height:48px;}
  70% { bottom: 0%; width: 55px; height:47px;}
  71% { bottom: 0%; width: 52px; height:48px;}
  72% { bottom: 1%; width: 50px; height:50px;}
  73% { bottom: 4%; }
  74% { bottom: 5%; }
  75% { bottom: 7%; }
  76% { bottom: 9%; }
  77% { bottom: 10%; }
  79% { bottom: 9%; }
  81% { bottom: 8%; }
  82% { bottom: 6%; }
  83% { bottom: 4%; }
  84% { bottom: 2%; }
  85% { bottom: 0%; width: 51px; height:49px;}
  86% { bottom: 0%; width: 49px; height:48px;}
  88% { bottom: 1%; width: 50px; height:50px;}
  90% { bottom: 3%; }
  93% { bottom: 4%; }
  96% { bottom: 0%; width: 51px; height:49px;}
  97% { bottom: 0%; width: 49px; height:50px;}
  99% { bottom: 0,5%; width: 50px; height:50px;}
  100% { bottom: 0%; }
}